.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Server logs
server.log

# Unit test coverage files
**/.coverage
**/.htmlcov/
**/coverage.xml

# event log files uploaded in src/api/data
src/api/data/uploads/*
# except our favourite log
!src/api/data/uploads/d43bcfbb-33df-11eb-979e-dc4a3ef4fd83/

# Docker
cpn_generation.docker
