<section id="wizard-import-log" class="wizard__page page__import-log">
  <div>
    <img src="images/import-log.png" />
  </div>
  <div>Upload an event log (.xes or .csv)</div>
  <input type="file" id="import-log-file" name="file" style="display:none;">
  <label for="import-log-file" class="page__import-log-btn">Select file</label>
  <div id="import-log-filename" class="page__import-log-filename"></div>
  <div id="import-log-loading" style="display: none;">
    <img src="images/loading.gif" />
  </div>
</section>