<section id="wizard-process-model" class="wizard__page page__process-model">
  <div id="process-model-loading" style="display: none;">
    <img src="images/loading.gif" />
  </div>
 <div class="easyzoom easyzoom--overlay"> 
  <a id="process-model">
        <img id="process-model-img" alt="" style="width: 100%;" />
      </a>
  </div>
  <input type="button" id="export-file" name="file" style="display:none; " >
  <label for="export-file" id="export-file-btn" class="page__import-log-btn">Export as .cpn file</label>
</section>